# 1 Incremental sample mean and variance

In [38]:
def f(mu, n, new_x): # find sum of old terms, add new term, divide by n
    return ((mu * n) + new_x)/(n+1)

Function $f$ is not allowed to be used or duplicated in $g$, and $\mu'$ is not allowed to be used in $g$. Actually, it will make your $g$ function look simpler if avoid using $f$ or $\mu'$.

In [47]:
def g(v, mu, n, new_x): # Please complete this function
    return (n/(n+1))*(v+(pow((mu-new_x),2)/(n+1)))

In [48]:
N = 1000000 # population size
n = 9 # sample size (old)
mu = 10 # old mean value
v = 18 # old variance
new_x = 20 # a new sample

new_mu = f(mu, n, new_x) # new mean value
new_v = g(v, mu, n, new_x) # new variance

print("new_mu", new_mu)
print("new_v", new_v)

new_mu 11.0
new_v 25.2

New sample mean: 11
New variance: 25.2

# 2 Correlation analysis

In [29]:
import pandas as pd
df = pd.read_csv("../datasets/dataset-salary/data-faculty.csv")
df_orig = df.copy()
df

     Rank                              Institution  Count  Faculty
0       1             ► Carnegie Mellon University   17.3      158
1       2  ► Massachusetts Institute of Technology   12.9       89
2       3  ► Univ. of Illinois at Urbana-Champaign   11.9      100
3       4                    ► Stanford University   11.2       67
4       5    ► University of California - Berkeley   10.6       92
..    ...                                      ...    ...      ...
98     96                 ► University of Delaware    1.4       11
99     96                  ► University of Georgia    1.4        9
100    96                 ► University of Kentucky    1.4       10
101    96                 ► University of Nebraska    1.4       15
102    96               ► University of New Mexico    1.4       12

[103 rows x 4 columns]

### 2.1 Describe the mean value, median, Q1, Q3, and variance of the feature “Count” (i.e., score of CS ranking).

In [30]:
df["Count"].describe()

count    103.000000
mean       3.619417
std        2.927626
min        1.400000
25%        1.600000
50%        2.700000
75%        4.100000
max       17.300000
Name: Count, dtype: float64

### 2.2 Normalize the feature “Count” by MIN-MAX and print the normalized feature values.

In [31]:
df["Count"] = (df["Count"] - df["Count"].min()) / (df["Count"].max() - df["Count"].min())
df["Count"]

0      1.000000
1      0.723270
2      0.660377
3      0.616352
4      0.578616
         ...
98     0.000000
99     0.000000
100    0.000000
101    0.000000
102    0.000000
Name: Count, Length: 103, dtype: float64

### 2.3 Normalize the feature “Count” by Z SCORE and print the normalized feature values.

In [33]:
df["Count"] = (df["Count"] - df["Count"].mean()) / df["Count"].std()
df["Count"]

0      4.672928
1      3.170003
2      2.828429
3      2.589328
4      2.384384
         ...
98    -0.758095
99    -0.758095
100   -0.758095
101   -0.758095
102   -0.758095
Name: Count, Length: 103, dtype: float64

### 2.4  Calculate the correlation coefficient ρ between the original (not the normalized) “Count” and “Faculty”.

In [34]:
correlation = df_orig["Count"].corr(df_orig["Faculty"])
correlation

0.938469782510467